@import "variables.scss";


body{
	background: #fcfcfc;
}

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#main {
	min-height: 100%;
}
#preFooter {
	height: 50px;
}
#footer {
	border-top: 1px solid #f7f7f7;
	clear: both;
	height: 50px;
	vertical-align: middle;
	margin: -50px auto auto;
	font-family: "sans-serif", Jura;
	font-size: 18px;
}


.like_a {
	color: $linkColor;
	cursor: pointer;
}


textarea {
	width: 100%;
	height: 200px;
}

svg {
	margin-top:20px;
	//border: 1px silver solid;
	width: 100%;
}